my-blog-backend/mongo-db-data/
my-blog-backend/node_modules/
my-blog/package.json
my-blog/package-lock.json
my-blog-backend/node_modules/.package-lock.json
my-blog-backend/node_modules/
my-blog/node_modules
build
credentials.json
my-blog-backend/node_modules